<ion-view view-title="Summary">
  <ion-content>
    <div class="card score-card">
      <div class="item item-text-wrap" >
        <h1> Score: 24/3.2  Overs: 3.4</h1>
      </div>
    </div>

    <div class="card batting-card">
      <table style="width:100%" class="bowling-table">
        <tr>
          <th> Batsmen</td>
          <th> Balls</td>
          <th> Runs </td>
          <th> Fours</td>
        </tr>
        <tr>
          <td>Kohli </td>
          <td>34</td>
          <td>40</td>
          <td> 4 </td>
        </tr>
        <tr>
          <td>Raina</td>
          <td>10</td>
          <td>12</td>
          <td> 1 </td>
        </tr>
      </table>
    </div>

    <div class="card bowling-card">
      <table style="width:100%" class="bowling-table">
        <tr>
          <th> Bowler</td>
          <th> Overs </td>
          <th> Runs </td>
          <th> Wickets </td>
        </tr>
        <tr>
          <td>Zaheer </td>
          <td>4.2</td>
          <td>20</td>
          <td> 0 </td>
        </tr>
        <tr>
          <td>Aron</td>
          <td>3.0</td>
          <td>12</td>
          <td> 1 </td>
        </tr>
      </table>
    </div>


  </ion-content>
</ion-view>
