<ion-view view-title="Edit Score Board">
  <ion-content>
    <div class="card score-card">
      <div class="item item-text-wrap" >
        <h1> Score: 24/3.2  Overs: 3.4</h1>
      </div>
    </div>


    <div class="card balls">
      <div class="item">
        <div class="row">
          <div class="col">
            <button class="center button button-small button-assertive">
              0
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-assertive">
              1
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-assertive">
              2
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-assertive">
              3
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-assertive">
              4
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-assertive">
              5
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-assertive">
              6
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card decision">
      <div class="item">
        <div class="row">
          <div class="col">
            <button class="center button button-small button-positive">
              1
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-positive">
              2
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-positive">
              3
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-positive">
              4
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-positive">
              5
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-positive">
              6
            </button>
          </div>
        </div>

        <div class="row">

          <div class="col">
            <button class="center button button-small button-positive">
              Out
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-positive">
              Wide
            </button>
          </div>
          <div class="col">
            <button class="center button button-small button-positive">
              No Ball
            </button>
          </div>

        </div>
      </div>
    </div>




  </ion-content>
</ion-view>
